@import url("https://fonts.googleapis.com/css?family=Overpass:regular,bold,italic&subset=latin,latin-ext");
.headerWrapper {
  width: 100%;
  max-width: 1180px;
  height: 90px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  font-family: Overpass, sans-serif; }
  .headerWrapper .upper {
    height: 60px;
    width: 100%;
    max-width: 1180px;
    position: relative;
    font-size: 14px;
    color: #d4d8dc;
    line-height: 30px; }
    .headerWrapper .upper .logo {
      margin: 12px 20px 12px 0;
      float: left; }
      .headerWrapper .upper .logo .logoPng {
        width: 75px; }
    .headerWrapper .upper .searchBar {
      width: 800px;
      height: 30px;
      margin: 15px 0;
      border: solid 1px #d4d8dc;
      border-radius: 4px;
      float: left;
      padding: 0 20px;
      position: relative; }
      .headerWrapper .upper .searchBar .right {
        position: absolute;
        right: 0;
        padding: 0 10px;
        top: 2px;
        border-left: 1px solid #d4d8dc;
        height: 25px; }
    .headerWrapper .upper .signin {
      position: absolute;
      right: 0;
      line-height: 65px;
      color: #2f343b; }
  .headerWrapper .categories {
    width: 100%;
    max-width: 1180px;
    height: 30px;
    position: relative;
    border-top: solid 1px #d4d8dc;
    position: absolute; }
    .headerWrapper .categories .categoryTab {
      line-height: 30px;
      padding: 0 45px;
      color: #2f343b;
      font-size: 14px;
      float: left;
      position: relative; }
      .headerWrapper .categories .categoryTab .expand {
        position: absolute;
        bottom: 0; }
      .headerWrapper .categories .categoryTab .down {
        top: 6px; }
