@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto:regular,bold,italic&subset=latin,latin-ext');

.wrapper {
  width: 85%;
  max-width: 1180px;
  position: relative;
  margin: 0 auto;
  color: #2f343b;
  font-family: Overpass;

  .item {
    width: 373px;
    position: relative;
    height: 300px;
    cursor: pointer;
    float: left;
    margin: 0 30px 0 0;

    &.right {
      margin: 0;
    }

    .item-picture {
      width: 100%;
      height: 220px;
      border-radius: 4px;
      background: lightgray;
      position: relative;
      overflow: hidden;

      &:hover {
        .play-hover {
          display: block;
        }
      }

      .play-hover {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 50px;
        background: #00a1a1;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        padding: 5px;
        cursor: pointer;
        display: none;

        .playArrow {
          line-height: 40px;
          text-align: center;
          width: 30px;
          margin: 0 auto;
          padding: 5px;
        }
      }

      .play {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 50px;
        background: #00a1a1;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        padding: 5px;
        cursor: pointer;
        display: none;

        .playArrow {
          line-height: 40px;
          text-align: center;
          width: 30px;
          margin: 0 auto;
          padding: 5px;
        }
      }

      .event-image {
        width: 100%;
      }

      .event-image-long {
        height: 100%;
      }
    }

    .text {
      width: 100%;
      height: 80px;
      left: 0;
      position: absolute;
      font-size: 14px;

      .date {
        margin: 12px 0 0 0;
        color: #c50076;
        font-weight: 800;
      }
      .title {
        font-size: 16px;
        font-weight: 800;
        margin: -1px 0;
      }
      .venue, .city {
        font-family: Roboto;
        margin: 2px 0;
        font-weight: 100;
      }
    }

  }

}

.block{
  width: 100%;
  height: 100px;
  background: white;
  position: absolute;
  bottom: -200px;
  z-index: 999;
  transition: 0.5s;

  &.show {
    bottom: 0;
    transition: 0.5s;
  }
}

.trigger {
  width: 300px;
  height: 350px;
  z-index: 999;
  position: absolute;
  background: red;
  left: 250px;
  cursor: pointer;
}

.trigger:hover ~ .block {
  bottom: -100px;
  transition: 0.5s;
}
